/* RESET & BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #000430;
  --secondaryBackground: #171c48;
  --text: #ffffff;
  --purple: #828dff;
  --teal: #24feee;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 5rem auto 0 auto;
  max-width: 500px;
  width: 100%;
}

/* STATS HEADER */
.stats-con {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid var(--purple);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.details {
  flex: 1;
  min-width: 180px;
}

#progressBar {
  width: 100%;
  height: 10px;
  background-color: var(--secondaryBackground);
  border-radius: 5px;
  margin-top: 1rem;
}

#progress {
  width: 50%;
  height: 10px;
  background-color: var(--teal);
  border-radius: 10px;
  transition: all 0.4s ease;
}

#numbers {
  width: 80px;
  height: 80px;
  background: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
}

/* FORM */
form {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

input {
  width: 85%;
  padding: 1rem;
  background: var(--secondaryBackground);
  border: 1px solid var(--purple);
  border-radius: 10px;
  outline: none;
  color: var(--text);
  min-width: 20px;
  
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--text);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  

}
button:hover{
  background-color:#65c8c1;
}

/* TASK LIST */
#task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
  width: 100%;
  list-style: none;
  padding: 0;
}

.taskItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondaryBackground);
  padding: 12px 16px;
  border-radius: 10px;
  transition: background 0.3s ease;
  /* flex-wrap: wrap; */
}

.taskItem:hover {
  background-color: #1f255f;
}

.task {
  display: flex;
  align-items: center;
  
  overflow: hidden;
}

.task input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
  
}

.task span {
  font-size: 1rem;
  word-break: break-word;
  color: var(--text);
  transition: color 0.3s ease;
}

.task.completed span {
  text-decoration: line-through;
  color: var(--teal);
}

.taskItem img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-left: auto;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.taskItem img:hover {
  transform: scale(1.2);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .container {
    margin-top: 3rem;
  }

  #numbers {
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
  }

  form {
    flex-direction: column;
  }

  button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    font-size: 1.2rem;
  }

  .taskItem {
    flex-direction: column;
    align-items: flex-start;
    
  }

  .task {
    width: 100%;
    justify-content: space-between;
  }
 
}